.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centrar{
background-color: #adb5bd;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(3px + 2vmin);
color: #000
;
}

.bloco{
  background-color: #616161  ;
  padding: 0,2em 1em;
  margin-top: 2em;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #000;
  color: #000;
  width: 83.33333333%;
  align-content: center !important;
  order: 1 !important;

  ;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
